# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python environments
venv/
env/
.env

# Testing
.pytest_cache/
.coverage

# Database
fast-api-app/books.db
fast-api-app/test.db
